.input-custom {
  width: 80%;
  border-radius: 5px;
  box-shadow: none;
}

.custom-spinner {
  margin-left: 50%;
}

h1 {
  font-size: 80px;
}
h2 {
  display: inline-block;
  font-size: 60px;
  margin-bottom: 40px;
}
.text-size {
  font-size: 20px;
}

.y-val {
  display: none;
}

.show-result {
  display: inline-block;
  text-decoration: underline;
  margin-left: 5%;
  font-weight: bold;
}
.custom-height {
  min-height: 20px;
  padding-left: 15px;
}
.error-message {
  color: red;
  margin-left: 5%;
}
.row {
  min-height: 80px;
}
.align-left {
  text-align: left;
}
.show-error {
  color: brown;
  background-color: lightcoral;
  border-radius: 5px;
  border: 1px solid brown;
  padding: 2%;
}
.input-error {
  color: red;
  border: 1px solid red;
}
.disappear {
  display: none;
}

.ul-style {
  list-style: none;
  padding: 0%;
}

.underline {
  border-bottom: 1px solid black;
  padding: 1.5%;
  padding-left: 0%;
  font-size: 19.5px;
}
.custom-check {
  display: inline-block;
  margin: 0px;
  width: 10px;
}
.input-custom {
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
}
.row {
  min-height: 60px;
}
